/**
 *
 *	:==-- main.less --==:
 *	@package simpleSocialButtons
 *	@about A bunch of button styles for social network links, with FontAwesome icons. | http://nicklleite.gituhub.io/simpleSocialButtons
 *	@author Nicholas Lopes Leite
 *	@version 0.1
 *	@see http://gituhub.com/nicklleite/simpleSocialButtons
 *
 *	License -> https://www.apache.org/licenses/LICENSE-2.0
 *
 */

// :==-- Typography
@import "typography";

// :==-- Colors
@import "colors";

// :==-- Functions
@import "functions";

// :==-- Reset CSS
@import "reset";

// :==-- Headeings
@import "headings";

// :==-- Main template
body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	color: @gray-dark;
	line-height: 1.49868;
}
a {
	outline: none;
}
a:hover {
	color: @gray-light;
	text-decoration: none;
	outline: none;
}
p {
	text-align: justify;
	margin: 10px;
	font-weight: 300;

}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
small {
	display: block;
}
.page-header {
	border-bottom: 1px solid #ddd;
	margin: 0;
}
.ssb-header {
	width: 100%;
	border-bottom: 1px solid #0c285e;
}
.ssb-header a {
	color: white;
}
.info-follow {
	.align-middle-page( 20px );
	display: table;
}
.info-follow a {
	float: left;
	margin: 10px;
}
.ssb-content {
}
.jumbotron {
	border-top: 1px solid #13419b;
	background-color: #10347c;
	color: white;
	.box-sizing-border-box();
}
.jumbotron h1 {
	font-size: 70px;
	font-weight: 400;
	margin: 0px;
}
.jumbotron p {
	font-size: 22px;
	padding: 10px;
}
.jumbotron a {
	color: white;
}
.container {
  .align-middle-page( 0px );
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
	padding: 0px;
}
.ssb-footer {
	width: 100%;
	display: table;
	bottom: 0;
	background: url("https://nicholasleite.files.wordpress.com/2014/10/bg-footer.png") top left repeat;
	color: white;
	padding: 10px 0;
	margin-top: 20px;
}
.ssb-footer a {
	color: white;
	border-bottom: 1px dashed #999;
	outline: none;
}
.ssb-footer a:hover {
	color: white;
	text-decoration: none;
	outline: none;
}
.ssb-footer .footer-links {
	font-size: @font-size-xsmall;
}

// :==-- Demo
#buttons_view {
	margin: 10px auto;
	& a {
		margin: 5px;
		text-align: center;
	}
}

// :==-- Nav menu class
@import "menu";

// :==-- Main button class
@import "buttons";

// :==-- Helpers
@import "helpers";

// :==-- Responsive
@import "responsive";
